
body {
    background-image: url(../img/egg_shell01.png);
    background-repeat: repeat;
    overflow-x: hidden;
}

div {
    word-wrap: break-word;
}
/*
.container {
    font-family: Baskerville, "Times New Roman", serif;
    line-height: 1.2;
    font-size: 14px;
}
*/

header p {
    font-family: 'PT Serif', serif;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
}

#illusion {
    text-align: center;
    width: 100%;
}

#illusion_bars {
    height: 302px;
    position: absolute;
    margin: 0 auto;
    z-index: 30;
    overflow: hidden;
}

.bar_black {
    height: 302px;
    width: 14px;
    background: url(../img/egg_shell01.png) repeat-y;
    float: right;
    margin: 0px 1px 0px 0px;
}

/*
.bar_black:nth-child(4n + 1) {
    background: blue;
}
*/

#illusion img {
    z-index: 1;
    /*
    min-width: 800px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: roatate(90deg);
    */
}

#stu_photo_container {
    width: 0;
    height: 0;
    float: left;
    margin: 0;
    padding: 0;
}

#stu_photo {
    background: url('../img/stu.png') 0 0 no-repeat;
    position: relative;
    width: 175px;
    height: 543px;
    bottom: 564px;
    left: 100px;
}

.modal.large {
    height: 600px;
    max-height: 700px;
    width: 780px;
    margin-left: -390px; /* - width/2 */
}

.modal-body {
    text-align: center;
}

.obfuscate {
    display: none;
}

footer {
    margin: 20px auto 0;
    border-top: 1px solid #000;
    padding: 20px 20px 150px;
    text-align: center;
}

#main-title {
    margin: 30px 0;
    font-family: 'PT Serif', serif;
    font-size: 70px;
    text-align: center;
    text-shadow: 3px 3px 3px #aaa;
}

.main-section {
    padding-bottom: 50px;
}

.section-title {
    text-align: center;
    font-family: 'PT Serif', serif;
    margin: 20px 0 50px;
}

.section-title:before,
.section-title:after {
    content: "–";
}

.foot-item-wrapper {
    height: 20px;
    display: block;
    float: left;
    margin: 0 30px;
}

.foot-item-wrapper i {
    margin-right: 5px;
}

.foot-item-wrapper address {
    margin: 0 !important;
    height: 20px !important;
    float: left;
}

/*=========================================================
                        D3 Graph
=========================================================*/

#stu_timeline {
    display: block;
    width: 95%;
    height: 100px;
    margin: 0 auto;
    padding: 0;
}

#experience {
    margin-bottom: 0px;
}

#work_timeline {
    height: 100px;
    width: 100%;
    margin: 25px auto 0;
}

.timeline_text {
    color: #333;
    font-size: 1.5em;
    font-family: 'PT Serif', Baskerville, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.animating {
    color: tomato !important;
}

/*------------------------------------------------------
                   SKILLS BARCHART
------------------------------------------------------*/

/*
#skills_text {
    float: left;
    max-width: 270px;
    margin-right: 20px;
}

#skills_barchart {
    float: left;
    max-width: 250px;
    margin-top: 20px;
}

.a_bar {
    fill: rgb(56, 134, 196);
}
*/

#skills_text {
    float: left;
    max-width: 270px;
    margin-right: 20px;
}

#skills_barchart {
    max-width: 470px;
}

.barchart_wrapper {
    width: 270px;
    height: 300px;
    display: block;
}

.bar_container {
    float: left;
    width: 470px;
    text-align: left;
}

.bar_txt {
    float: left;
    height: 20px;
    width: 90px;
    padding-right: 10px;
    margin: 6px 0;
    text-align: right;
}

.bar_wrapper {
  overflow: hidden;
  height: 20px;
  width: 270px;
  margin: 5px 0;
  float: left;
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.a_bar {
    height: 20px;
    float: left;
    display: block;
    clear: both;

    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

